<div style="margin-top: 10px; margin-bottom: 10px;">
  <div class="card h-100">
    <img class="card-img-top" src="https://picsum.photos/330/250" alt="Static photo for the task"/>
    <div class="card-body">
      <h5 class="card-title">{{ task.title }}</h5>
      <p class="card-text">{{ task.description }}</p>
      <a [routerLink]="['/details', task.taskId]" class="btn btn-primary btn-action mr-2">More Detail</a>
      <button class="btn btn-success btn-action mr-2" (click)="updateTask(task.taskId)"[routerLink]="['/add', { taskData: task | json }]">Edit</button>
      <button class="btn btn-danger btn-action" (click)="deleteTask(task.taskId)">Delete</button>
    </div>
  </div>
</div>
