<article class="container-fluid">
  <div class="row">
    <div class="col-lg-5">
      <img src="https://picsum.photos/600/400" alt="Task Photo" class="img-fluid rounded">
    </div>

    <div class="col-lg-7">
      <div class="card mt-3">
        <div class="card-body">
          <h4 class="card-title">Task Title: {{ task?.title }}</h4>
          <p class="card-text">Description: {{ task?.description }}</p>
        </div>
      </div>

      <div class="mt-3">
        <h2 class="section-heading">More Information About the Task</h2>
        <ul class="list-unstyled">
          <li><strong>Created at:</strong> {{ task?.createdAt | date:'medium' }}</li>
          <li><strong>Due Date:</strong> {{ task?.dueDate | date:'medium' }}</li>
          <li><strong>User Id:</strong> {{ task?.taskOwnerId }}</li>
        </ul>
      </div>

      <div class="mt-5">
        <button type="button" class="btn btn-success mr-2" (click)="updateTask(taskId)">Edit</button>
        <button type="button" class="btn btn-danger mr-2" (click)="deleteTask(taskId)">Delete</button>
      </div>
    </div>
  </div>
</article>
